:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
    --light: #F0F6FF;
    --dark: #262B47;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
button {
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    font-size: 1.3rem;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    box-shadow: none;
    width: max-content;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.text-primary-gradient{
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading-text{
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    color: #262B47;
}
.container#home{
    position: relative;
    height: 100vh;
    background-color: var(--primary);
}
.container#home header {
    padding: 1.8rem 3rem;
    min-height: 80px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.container#home header nav{
    display: flex;
    align-items: center;
}
.container#home header nav .logo {
    font-size: 3.1rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    float: left;
}
.container#home header nav .toggler-icon {
    display: none;
}
.container#home header nav .menu-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    vertical-align: middle;
    line-height: 80px;
    justify-content: center;
    width: 100%;
}
.container#home header nav .menu-nav li a {
    padding: 10px 25px 0px;
    text-decoration: none;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 1.4rem;
}
.container#home .hero-header{
    margin-bottom: 6rem;
    padding: 16rem 0 0 0;
    background: url(../img/bg-circle.png), url(../img/bg-triangle.png), linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position: left 0px top 0px, right 0px top 50%, center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.container .row {
    max-width: 100%;
    margin: 0 5rem;
}
.container#home .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container#home .hero-header .hero-text{
    padding: 50px 40px 0px;
    max-width: 60%;
}
.container#home .hero-header .hero-text h1 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 3.3rem;
    line-height:70px;
}
.container#home .hero-header .hero-text p {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3rem;
    margin: 2rem 0rem;
}
.container#home .hero-header .hero-text button {
    margin : 10px 20px 0px 0px;
}
.container#about{
    background-color: #fff;
    padding: 10rem 0rem;
}
.screenshot-carousel{
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
    margin-right: 30px;
}
.screenshot-carousel::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 1;
}
.screenshot-carousel img {
    position: relative;
    width: 223px;
    height: 470px;
}

.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 15px;
    transition: .5s;
}

.screenshot-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.screenshot-carousel .owl-dot.active {
    box-shadow: 0 0 10px var(--dark);
}

.container#about .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;  
    max-width: 100%;
}
.container#about .grid-container .text-item{
    max-width: 70%;
}
.container#about .grid-container .text-item .small-text{
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
}
.container#about .grid-container .text-item p {
    font-family: "Heebo" , sans-serif;
    font-size: 1.3rem;
    line-height: 40px;
}
.container#about .counter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0rem;
}
.container#about .counter-section  .icon .bx{
font-size: 3rem !important;
}
.container#about .counter-section .icon{
float: left;
vertical-align: middle;
margin-right: 20px;
}
.container#about .counter-section .value h2{
    font-family: "Jost" , sans-serif;
    font-size: 2.8rem;
}
.container#about .counter-section .value p{
   margin-left: 1.5rem;

}
@media (min-width:320px) and (max-width : 992px) {
    .container#home header {
        padding: 0.6rem 1.5rem;
        min-height: 40px;
        background-color: #fff;
   }
    .container#home header nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
   }
    .container#home header nav .logo-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.4rem 0rem;
   }
    .container#home header nav .toggler-icon {
        display: inline-block;
        color: rgb(85, 84, 84);
        font-size: 1.8rem;
        margin-left: auto;
   }
    .container#home header nav .logo {
        font-size: 1.8rem;
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }
    .container#home header nav .menu-nav {
       /* display: flex;
        */
        display: none;
        flex-direction: column;
        line-height: 50px;
        margin: 0 ;
        border-top: 1px solid rgb(209, 208, 208);
   }
    .container#home header nav .menu-nav li a {
        padding: 5px 0px 0px;
        text-decoration: none;
        color: rgb(98, 92, 92);
        font-family: 'Jost', sans-serif;
        font-size: 1.1rem;
   }
   .container#home header nav   button{
        display: none;
   }
    .container .row {
        max-width: 100%;
        margin: 0 0.5rem;
   }
    .container#home .hero-header{
        margin-bottom: 0rem;
        padding: 5rem 0 0 0;
        text-align: center;
   }
   .container#home .hero-header .hero-text{
    padding: 50px 10px 0px;
}
    .container#home .hero-header .hero-text h1 {
        font-size: 1.8rem;
        line-height:40px;
   }
    .container#home .hero-header .hero-text p {
        font-size: 1rem;
   }
}
@media (min-width:993px) and (max-width:1200px) {
    .container#home header nav .logo {
        font-size: 2.3rem;
   }
    .container#home header nav .menu-nav li a {
        font-size: 1.1rem;
        padding: 10px 20px 0px;
   }
    button {
        width: 150px;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
   }
}
